*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar nav nav nav"
      "sidebar main main main";
    /* grid-gap: 0.2rem; */
  }

  /*=== Navbar ===*/
.navbar {
    background: #C0C0C0;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
  }

  .navbar > h4{
      margin-left: 700px;
      text-decoration: none;
  }
  
  .navbar > a {
    margin-left: 20px;
    text-decoration: none;
  }
  
  /*=== Main ===*/
  main {
    background: #ffffff	;
    grid-area: main;
    overflow-y: auto;
  }
  
  .main-container {
    padding: 20px 35px;
  }

  .main-greet{
    font-size: 14px;
    font-weight: 700;
  }


  /*=== SideBar ===*/
  .sidebar {
    background: #D3D3D3	;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 30px;
  }
  
  .sidebar-link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .active-sidebar-link {
    background: rgba(62, 161, 117, 0.3);
    color: #C0C0C0;
  }
  
  .active-sidebar-link a {
    color: #000000 !important;
  }
  
  .sidebar-link > a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
  }
  